body{
    background-color: #393D3F;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Garet-Book";
    src: local("Garet-Book"), url(Garet-Book.otf);
}

@font-face {
    font-family: "Garet-Heavy";
    src: local("Garet-Heavy"), url(Garet-Heavy.otf);
}

p{
    color: #fdfdff;
    font-family: Garet-Book;
    font-size: 1vw;
}

h1{
    color: #fdfdff;
    font-family: Garet-Heavy;
    margin: 0;
}

section.body-container{
    margin: 0 75px 0 75px;
}

/* header styles */

header{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

nav a{
    font-family: Garet-Book;
    color: #fdfdff;
    cursor: pointer;
    font-size: 1vw;
}

nav a.button{
    padding: 5px 35px;
    border: 1px solid #C6C5B9;
    border-radius: 10px;
    transition: .5s;
    text-decoration: none;
}

nav a.button:hover{
    background-color: #C6C5B9;
    color: #393D3F;
    transition: .5s;
}

div.logo img{
    width: 45%;
    height: auto;
}

/* Hero Section */

hero {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;

}

div.hero-text {
    width: 95vw;
    margin-top: auto;
    margin-bottom: auto;
}

div.hero-text h1{
    font-size: 5vw;
}

h1.shadow-title{
    opacity: 50%;
    font-size: 2.7vw !important;
}

p.intro{
    line-height: 2.5;
}

div.hero-icons {
    width: 7vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    right: 6vw;
}

img.icon{
    height: 30px;
    width: 30px;
}

div.line{
    width: 2px;
    height: 150px;
    background-color: #C6C5B9;
}